<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#fff">
  <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data:">
  <title>{{STORE_TITLE}}</title>
  
  <!-- Estilos -->
  <link rel="stylesheet" href="{{URL_CDN}}/{{BUCKET}}/{{BUCKET_REPO}}/css/framework7-bundle.min.css?v={{VERSION}}">
  <link rel="stylesheet" href="{{URL_CDN}}/{{BUCKET}}/{{BUCKET_REPO}}/css/app.css?v={{VERSION}}">
  <link rel="stylesheet" href="{{URL_CDN}}/{{BUCKET}}/{{DOMAIN}}/theme/default/css/main.css?v={{VERSION}}">
  
  <!-- Iconos -->
  <link rel="apple-touch-icon" href="img/f7-icon-square.png">
  <link rel="icon" href="img/f7-icon.png">
</head>
<body>
  <div id="app">
    <div class="page">
      
      
        <div class="view view-main view-init safe-areas" data-master-detail-breakpoint="768" data-url="/">
          {{CONTENT_HEADER}}

          {{CONTENT_FOOTER}}
        </div>
     
      
    </div>
  </div>
  
  <!-- Scripts -->
  <script defer src="central/js/framework7-bundle.min.js?v={{VERSION}}"></script>
  <script defer src="central/js/store.js?v={{VERSION}}"></script>
  <script defer src="central/js/routes.js?v={{VERSION}}"></script>
  <script defer src="{{URL_CDN}}/{{BUCKET}}/{{DOMAIN}}/theme/default/js/app.js?v={{VERSION}}"></script>
</body>
</html>
