
    <div class="navbar">
      <header >
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="title">
          <h5>Hola, <span id="name"></span></h5>
        </div>
      </div>
    </header>
    </div>

  