<!DOCTYPE html>
<html>
  <head>
    <title>Server Rendering Demo</title>
  </head>
  <body>
    <%- header %> <!-- Insertar el encabezado renderizado -->
    
    <div id="root"><%- content %></div> <!-- Insertar el contenido renderizado -->
    
    <%- footer %> <!-- Insertar el pie de página renderizado -->
  
  </body>
</html>
