
  <h1>Lista de Productos</h1>
  <ul>
    <% productos.forEach(producto => { %>
      <li>
        <strong>Nombre:</strong> <%= producto.nombre %><br>
        <strong>Precio:</strong> <%= producto.precio %>
      </li>
    <% }); %>
  </ul>

