<div class="navbar">
  <div class="navbar-bg"></div>
  <div class="navbar-inner">
    <div class="block md-only">
      <div class="row no-gap">
        <div class="col-80">
          <ul class="store-menu" id="menuPrincipal" data-menu="menu_principal"></ul>
        </div>
        <div class="col-20">
          <div class="block block-logo no-margin">
           <img width="100%" src="http://localhost:3002/stores-crece/ideasprint.com.pe/images/logo/logo_grupo_castle.png">
          </div>
          </div>
      </div>
    </div>
  </div>
</div>



  